<div class="right_sidebar_container clr-1-tr">
  <!-- Income notification section -->
  <section class="notification">
    <div class="income_container">
      <div class="income_panel panel">
        <header class="sub-header">Income</header>
      </div>
    </div>
    <!-- Net worth notification box -->
    <div class="total_worth_container">
      <div class="total_work_panel panel">
        <header class="sub-header">Total Net Worth</header>
      </div>
    </div>
    <!-- Savings notification box -->
    <div class="savings_container">
      <div class="savings_panel panel">
        <header class="sub-header">Savings</header>
      </div>
    </div>
    <!-- Alert Notification box -->
    <div class="alert_container">
      <div class="alert_panel panel">
        <header class="sub-header">Alerts</header>
      </div>
    </div>
  </section>
  <!-- Notes sections -->
  <section class="note">
    <div class="sidebar_notes_container">
      <header class="sidebar_header">Notes</header>
      <div class="sidebar_notes_boundary">
        <div class="notes_inputbox">
          <p class="self_note">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae
            laudantium error natus eos! Quisquam excepturi temporibus earum
            similique, nobis et laudantium accusamus sed perspiciatis? Quis
            magni molestiae, voluptatibus adipisci amet nihil harum voluptates
            nostrum ut ducimus aliquid dolore labore excepturi, iusto saepe
            laborum ipsum dolores provident, tempore eaque laudantium non.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
