/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}
ion-icon {
  font-size: 1.7rem;
  color: #d9d9d9;
}
.clr-1-tr {
  background-color: #056644;
}
.panel-txt-clr {
  background-color: #056644;
}
.panel {
  background-color: #d9d9d9;
  box-sizing: border-box;
  margin: 5px;
  border-radius: 5px;
  z-index: 99;
  box-shadow: 2px 2px 5px 0 darkgray;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #d3d3d380;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #6c8d81;
  border-radius: 10px;
}
.sub-header {
  font-size: 1.1rem;
  color: black;
}
