<div class="left_sidebar clr-1-tr">
  <section class="profile_block">
    <div class="profile_image_block">
      <div class="profile_image"></div>
    </div>
    <div class="profile_name_box">
      <div class="profile_name">ZJ</div>
    </div>
  </section>
  <!-- Navigation section with links -->
  <nav class="nav_section">
    <div class="sidebar_header_box">
      <header class="sidebar_header">Navigation</header>
    </div>
    <ul class="nav_links">
      <!-- <nav-item>
        <ion-icon name="podium-outline" class="nav_icon"></ion-icon>
        <ng-container class="nav_link">Dashboard</ng-container>
      </nav-item> -->
      <li class="nav_item">
        <div class="nav_icon_box">
          <ion-icon name="podium-outline"></ion-icon>
        </div>
        <div class="nav_link_box">
          <a href="/index.html" class="nav_link">Dashboard</a>
        </div>
      </li>
      <li class="nav_item">
        <div class="nav_icon_box">
          <ion-icon name="document-outline"></ion-icon>
        </div>
        <div class="nav_link_box">
          <a href="#report" class="nav_link">Report</a>
        </div>
      </li>
      <li class="nav_item">
        <div class="nav_icon_box">
          <ion-icon name="pie-chart-outline"></ion-icon>
        </div>
        <div class="nav_link_box">
          <a href="/CAP.html" class="nav_link">CAP</a>
        </div>
      </li>
      <li class="nav_item">
        <div class="nav_icon_box">
          <ion-icon name="card-outline"></ion-icon>
        </div>
        <div class="nav_link_box">
          <a href="#balance_sheet" class="nav_link">Balance</a>
        </div>
      </li>
      <li class="nav_item">
        <div class="nav_icon_box">
          <ion-icon name="calendar-outline"></ion-icon>
        </div>
        <div class="nav_link_box">
          <a href="#planner" class="nav_link">Planner</a>
        </div>
      </li>
      <li class="nav_item">
        <div class="nav_icon_box">
          <ion-icon name="alert-circle-outline"></ion-icon>
        </div>
        <div class="nav_link_box">
          <a href="/Notification.html" class="nav_link">Notification</a>
        </div>
      </li>
    </ul>
  </nav>
  <div class="quick_section">
    <header class="sidebar_header">Quick</header>
    <ul class="quick_list">
      <li class="quick_item">Withdrawl Transaction</li>
      <ul class="quick_drop_list">
        <li class="quick_drop_item">
          <div class="drop_field">Date</div>
          <input type="text" class="drop_input" />
        </li>
        <li class="quick_drop_item">
          <div class="drop_field">Category</div>
          <input type="text" class="drop_input" />
        </li>
        <li class="quick_drop_item">
          <div class="drop_field">Description</div>
          <input type="text" class="drop_input" />
        </li>
        <li class="quick_drop_item">
          <div class="drop_field">Account</div>
          <input type="text" class="drop_input" />
        </li>
        <li class="quick_drop_item">
          <div class="drop_field">Amount</div>
          <input type="text" class="drop_input" />
        </li>
      </ul>
      <li class="quick_item">Debit Deposit</li>
      <li class="quick_item">Transfer/Saving</li>
      <li class="quick_item">CAP Category</li>
    </ul>
  </div>
</div>
