<div class="left_sidebar clr-1-tr">
  <section class="profile_block">
    <div class="profile_image_block">
      <div class="profile_image"></div>
    </div>
    <div class="profile_name_box">
      <div class="profile_name">ZJ</div>
    </div>
  </section>
  <!-- Navigation section with links -->
  <nav class="nav_section">
    <div class="sidebar_header_box">
      <header class="sidebar_header">Navigation</header>
    </div>
    <ul class="nav_links">
      <li class="nav_item">
        <div class="nav_icon_box">
          <!-- <i class="icon ion-md-podium"></i> -->
          <ion-icon name="podium-outline"></ion-icon>
        </div>
        <div class="nav_link_box">
          <a routerLink="/dashboard" class="nav_link">Dashboard</a>
        </div>
      </li>
      <li class="nav_item">
        <div class="nav_icon_box">
          <ion-icon name="document-outline"></ion-icon>
        </div>
        <div class="nav_link_box">
          <a href="#report" class="nav_link">Report</a>
        </div>
      </li>
      <li class="nav_item">
        <div class="nav_icon_box">
          <ion-icon name="pie-chart-outline"></ion-icon>
        </div>
        <div class="nav_link_box">
          <a routerLink="cap" class="nav_link">CAP</a>
        </div>
      </li>
      <li class="nav_item">
        <div class="nav_icon_box">
          <ion-icon name="card-outline"></ion-icon>
        </div>
        <div class="nav_link_box">
          <a href="#balance_sheet" class="nav_link">Balance</a>
        </div>
      </li>
      <li class="nav_item">
        <div class="nav_icon_box">
          <ion-icon name="calendar-outline"></ion-icon>
        </div>
        <div class="nav_link_box">
          <a href="#planner" class="nav_link">Planner</a>
        </div>
      </li>
      <li class="nav_item">
        <div class="nav_icon_box">
          <ion-icon name="alert-circle-outline"></ion-icon>
        </div>
        <div class="nav_link_box">
          <a href="/Notification.html" class="nav_link">Notification</a>
        </div>
      </li>
    </ul>
  </nav>
  <div class="quick_section">
    <header class="sidebar_header">Quick</header>
    <quick-section></quick-section>
  </div>
</div>
