<div class="left_sidebar clr-1-tr">
  <section class="profile_block">
    <div class="profile_image_block">
      <div class="profile_image"></div>
    </div>
    <div class="profile_name_box">
      <div class="profile_name">ZJ</div>
    </div>
  </section>
  <!-- Navigation section with links -->
  <nav class="nav_section">
    <div class="sidebar_header_box">
      <header class="sidebar_header">Navigation</header>
    </div>
    <ul class="nav_links">
      <li class="nav_item">
        <div class="nav_icon_box">
          <!-- <i class="icon ion-md-podium"></i> -->
          <ion-icon name="podium-outline"></ion-icon>
        </div>
        <div class="nav_link_box">
          <a href="/index.html" class="nav_link">Dashboard</a>
        </div>
      </li>
      <li class="nav_item">
        <div class="nav_icon_box">
          <ion-icon name="document-outline"></ion-icon>
        </div>
        <div class="nav_link_box">
          <a href="#report" class="nav_link">Report</a>
        </div>
      </li>
      <li class="nav_item">
        <div class="nav_icon_box">
          <ion-icon name="pie-chart-outline"></ion-icon>
        </div>
        <div class="nav_link_box">
          <a href="/CAP.html" class="nav_link">CAP</a>
        </div>
      </li>
      <li class="nav_item">
        <div class="nav_icon_box">
          <ion-icon name="card-outline"></ion-icon>
        </div>
        <div class="nav_link_box">
          <a href="#balance_sheet" class="nav_link">Balance</a>
        </div>
      </li>
      <li class="nav_item">
        <div class="nav_icon_box">
          <ion-icon name="calendar-outline"></ion-icon>
        </div>
        <div class="nav_link_box">
          <a href="#planner" class="nav_link">Planner</a>
        </div>
      </li>
      <li class="nav_item">
        <div class="nav_icon_box">
          <ion-icon name="alert-circle-outline"></ion-icon>
        </div>
        <div class="nav_link_box">
          <a href="/Notification.html" class="nav_link">Notification</a>
        </div>
      </li>
    </ul>
  </nav>
  <div class="quick_section">
    <header class="sidebar_header">Quick</header>
    <ul class="quick_list">
      <zippy class="quick_item" title="Withdrawl Transaction">
        <ul class="quick_drop_list">
          <li class="quick_drop_item">
            <input type="text" class="drop_input" />
            <div class="drop_label">Date</div>
          </li>
          <li class="quick_drop_item">
            <input type="text" class="drop_input" />
            <div class="drop_label">Category</div>
          </li>
          <li class="quick_drop_item">
            <input type="text" class="drop_input" />
            <div class="drop_label">Description</div>
          </li>
          <li class="quick_drop_item">
            <input type="text" class="drop_input" />
            <div class="drop_label">Account</div>
          </li>
          <li class="quick_drop_item">
            <input type="text" class="drop_input" />
            <div class="drop_label">Amount</div>
          </li>
        </ul>
      </zippy>
      <zippy class="quick_item" title="Debit Deposit">
        <ul class="quick_drop_list">
          <li class="quick_drop_item">
            <input type="text" class="drop_input" />
            <div class="drop_label">Date</div>
          </li>
          <li class="quick_drop_item">
            <input type="text" class="drop_input" />
            <div class="drop_label">Category</div>
          </li>
          <li class="quick_drop_item">
            <input type="text" class="drop_input" />
            <div class="drop_label">Description</div>
          </li>
          <li class="quick_drop_item">
            <input type="text" class="drop_input" />
            <div class="drop_label">Account</div>
          </li>
          <li class="quick_drop_item">
            <input type="text" class="drop_input" />
            <div class="drop_label">Amount</div>
          </li>
        </ul>
      </zippy>
      <zippy class="quick_item" title="Transfer/Saving">
        <ul class="quick_drop_list">
          <li class="quick_drop_item">
            <input type="text" class="drop_input" />
            <div class="drop_label">Date</div>
          </li>
          <li class="quick_drop_item">
            <input type="text" class="drop_input" />
            <div class="drop_label">Category</div>
          </li>
          <li class="quick_drop_item">
            <input type="text" class="drop_input" />
            <div class="drop_label">Description</div>
          </li>
          <li class="quick_drop_item">
            <input type="text" class="drop_input" />
            <div class="drop_label">From Account</div>
          </li>
          <li class="quick_drop_item">
            <input type="text" class="drop_input" />
            <div class="drop_label">To Account</div>
          </li>
          <li class="quick_drop_item">
            <input type="text" class="drop_input" />
            <div class="drop_label">Amount</div>
          </li>
        </ul>
      </zippy>
      <zippy class="quick_item" title="CAP Category">
        <ul class="quick_drop_list">
          <li class="quick_drop_item">
            <input type="text" class="drop_input" />
            <div class="drop_label">CAP</div>
          </li>
          <li class="quick_drop_item">
            <input type="text" class="drop_input" />
            <div class="drop_label">Name</div>
          </li>
          <li class="quick_drop_item">
            <input type="text" class="drop_input" />
            <div class="drop_label">Amount</div>
          </li>
        </ul>
      </zippy>
    </ul>
  </div>
</div>
