.content_container {
  background-color: #3a3838;
  box-sizing: border-box;
  padding: 10px;
  height: 97%;
  width: 97%;
  margin: 11.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.card_row {
  /* border: 1px solid red; */
  height: 48%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

zippy-card {
  width: 49.5%;
}
