* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}
.layout_grid {
  display: grid;
  grid-template-columns: 10vw 70vw 20vw;
  grid-template-rows: 100vh;
  grid-template-areas: "left_sidebar_container centerbar_container right_sidebar_container";
}
.centerbar_container {
  background-color: red;
}
.right_sidebar_container {
  background-color: yellow;
}
