.zippy-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.zippy-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-content: center;
}
.zippy-body {
  overflow-y: auto;
}
.btn-container {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.button {
  height: 1rem;
  width: 60%;
  height: 2rem;
  background-color: #b6b6b667;
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 3px;
}
